#walrus-showing {
  display: none;
}

#baby-showing {
  display: none;
}


#hide-sealion {
  display: none;
}

#sealion img {
  display: none;
}

.clickable {
  cursor: pointer;
  color: blue;
}

.clickable:hover {
  text-decoration: underline;
  //font-size: 150%;
}
