#walrus-showing {
  display: none;
}

#baby-showing {
  display: none;
}

#hide-sealion {
  display: none;
}

#sealion img {
  display: none;
}

#hide-seal {
  display: none;
}

#seal img {
  display: none;
}


.clickable {
  cursor: pointer;
  color: blue;
}

.clickable:hover {
  text-decoration: underline;
  //font-size: 150%;
}

.light-background {
  font-color: black;
  background-color: white;
}

.dark-background {
  font-color: white;
  background-color: black;
}
